body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
.first-one{
    display:flex;
}
.first-one1 {
    width: 50%;
    margin-left: 10%;
    text-align: left;
}

.first-one .first-one1 a {
    padding: 0.5rem 2rem;
}

.first-one1 img {
    width: 100%;
}
.first-one .first-one1 h1 {
    color: darkgray;
    font-size: 48px;
    line-height: 1.2;
}
span{
    color:orange;
}
.first-one1 p {
    margin-bottom: 3rem;
    color: #aeaeae;
    font-size: 14px;
    font-weight: 100;
}

a{
    text-decoration: none;
    border:1px solid orange;
    padding: 10px 14px;
    background-image:linear-gradient(orange,tomato);
    border-radius:15px;
    color:white;
    
}
.first-one{
    /* background-image: url(shapes/Frame\ 56.jpg); */
}
.snd-one {
    display: flex;
    background-image: url(shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    padding-top: 3rem;
}
.snd-one1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.snd-one1 img{
    width:60%;
    margin-left:5%;
}
section{
    text-align:center;
    margin-bottom:40px;
}
.last {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
    margin: 6rem;
}
.last-last {
    box-shadow: 3px 3px 10px #00000033;
    padding: 2rem;
    min-height: 350px;
    border-radius: 10px;
}
.last-last img {
    width: 90%;
    height: 240px;
    object-fit: cover;
    border-radius: 16px;
}
.before-footer {
    display: flex;
    justify-content: space-around;
    margin: 1rem 3rem;
    padding: 1rem 12rem;
}
.who{
    text-align: center;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 1rem;
}
footer h2 {
    text-transform: uppercase;
}


